@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Parkinsans", sans-serif;
}

.form-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black; 
}

.player-form label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.player-form input[type="text"],
.player-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #444;
}

.save-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

.img-label{
    display: inline-block;
    padding: 10px 20px;
    width: 135px;
    background-color: rgb(2, 175, 255);
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.img-label:hover{
    background-color: rgb(20, 121, 168);
}

.input-label{
    display: inline-block;
    padding: 10px 20px;
    width: 180px;
    background-color: gray;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.save-button:hover {
    background-color: #555;
}

.circle-wrapper {
    position: fixed;
    left: 30px;
    top: 820px;
}

.circle {
    width: 81px;
    height: 83px;
    background: #53AA51;
    border-radius: 50%;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #333;
    color: #fff;
}

.table thead th {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}

.table tbody tr {
    transition: background-color 0.3s;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table tbody td {
    padding: 10px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.table .btn {
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.table .btn-warning {
    background-color: #f0ad4e;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    transition: 0.3s;
}

.table .btn-warning:hover {
    background-color: #ec971f;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 3.0);
    transform: translateY(-5px);
}

.table .btn-danger {
    background-color: #d9534f;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    transition: 0.3s;
}

.table .btn-danger:hover {
    background-color: #c9302c;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 3.0);
    transform: translateY(-5px);
}

.alert-success {
    margin-top: 10px;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
}

.torneo-register{
    background-color: red;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    transition: 0.3s;
}

.torneo-register:hover{
    background-color: rgb(182, 8, 8);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 3.0);
    transform: translateY(-5px);
}

.date :hover{
    color: purple;
}