* {
    margin: 0;
    padding: 0;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}

.form-title:hover{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: green;
    transform: scale(1.05);
}

.player-form label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.player-form select,
.player-form input[type="date"],
.player-form input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
    font-size: 14px;
}

.save-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

.save-button:hover {
    background-color: #555;
}


.w-full {
    font-size: 20px;
    font-weight: bold;
    background-color: green;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    transition: 0.3s;
}

.w-full:hover {
    background-color: gray;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 3.0);
    transform: translateY(-5px);
}