@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Parkinsans', sans-serif;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}

.player-form label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.player-form select,
.player-form input[type="date"],
.player-form input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
    font-size: 14px;
}

.save-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: green;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    transition: 0.3s;
}

.save-button:hover {
    background-color: #555;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 3.0);
    transform: translateY(-5px);
}

.cancel-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    transition: 0.3s;
}

.cancel-button:hover{
    background-color: #555;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 3.0);
    transform: translateY(-5px);
}

.register-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: green;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    transition: 0.3s;
    margin-top: 25px;
}

.register-button:hover {
    background-color: rgb(2, 77, 2);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 3.0);
    transform: translateY(-5px);
}